body {
    font-family: Georgia, serif;
    background-color: #8b000c;
}

header { 
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    background-image: url('IMG_1572.jpg');
    background-size: cover; 
    background-position: center;
    width: 100%;

}


section {
    margin: 20px;
    padding: 20px;
    background-color: #ffb2b9;
    border-radius: 8px;
    
}

h1 {
    color: #8b000c;
}
h2 {
    color: #8b000c;
}
ul {
    
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    text-align: left;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #8b000c;
    color: #ffb2b9;
}

a {
    color: #ffb2b9;
    text-decoration: none;
}

h3 {
    color:  #8b000c;
}
