* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex; 
    flex-direction: column ;  /*элементы вертикально выстроены*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 20px; 
    font-size: 32px;
  }
  
  p {
    margin-bottom: 30px; 
    font-size: 18px;
  }
  
  .xylophone {
    display: flex;
    justify-content: space-around; /*кнопки на равном расстоянии*/
    width: 90%;
    max-width: 700px;
  }
  
  .key {
    width: 100px;
    height: 200px;
    border: none; /*границы*/
    border-radius: 10px; /*закругление границ*/
    margin: 0 5px; /*горизонтальный отступ между*/
    font-size: 24px;
    font-weight: bold;
    color: white;
    transition: transform 0.2s ease;
  }
  
  #keyC { background-color: #FF6961; }
  #keyD { background-color: #FFB347; }
  #keyE { background-color: #FDFD96; }
  #keyF { background-color: #77DD77; }
  #keyG { background-color: #AEC6CF; }
  #keyA { background-color: #CFCFC4; }
  #keyB { background-color: #FFB6C1; }
  
  .key:hover {
    transform: scale(1.1);
  }
  
  .key.active {
    transform: scale(0.9); 
}

  